.mautilus-circular-button {
  border-radius: 20px;
  -gtk-outline-radius: 20px;
}

.mautilus-desktop-window,
.mautilus-desktop-window paned,
.mautilus-desktop-window notebook,
.mautilus-desktop-window notebook > stack {
    background: transparent;
}

.mautilus-menu-sort-heading {
    min-height: 26px;
    padding-left: 5px;
    padding-right: 5px;
}
